<!doctype html>
<html lang="en">
<body>
<div class="body">
    <h2>Poštovani {{ name }},</h2>
    <br>
    <p style="font-size: 16px">Vaša lozinka je uspešno promenjena.</p>
    <br>
    <h4>Kožna galenterija</h4>
    <h4>Dalibor</h4>
    <h4>+38564655456</h4>
</div>
</body>
</html>