<!doctype html>
<html lang="en">
<body>
<div class="body">
    <h2>Postovani {{ name }},</h2>
    <br>
    <p style="font-size: 16px">Vasi podaci su uspesno promenjeni</p>
    <br>
    <h4>Kozna galenterija</h4>
    <h4>Dalibor</h4>
    <h4>+38564655456</h4>
</div>
</body>
</html>