<!doctype html>
<html lang="en">
<body>
<div class="body">
    <h1>Kozna galenterija</h1>
    <h3>Postovani {{ name }}</h3>
    <p>primili smo vasu narudzbu pod brojem {{ idOrder }}</p>
</div>
</body>
</html>