<!doctype html>
<html lang="en">
<body>
<div class="body">
    <div class="header text-center">
        <a href="http://localhost:4200/">
            <img src="{{ email.image('@images/koza.jpg') }}" width="400px" height="200px" class="logo" alt="Picture">
        </a>
    </div>
    <h1>Kozna galenterija</h1>
    <h3>Postovani {{ name }}</h3>
    <p>primili smo vasu narudzbu pod brojem {{ idOrder }}</p>
</div>
</body>
</html>