<!doctype html>
<html lang="en">
<body>
<div class="body">
    <h2>Postovani {{ name }},</h2>
    <br>
    <p style="font-size: 16px">Vasa nalog sa firmom koji ima PIB {{ pib }} je uspesno verifikovana od strane admina.<br>
    Sada mozete da porucujete proizvode.</p>
    <br>
    <h4>Kozna galenterija</h4>
    <h4>Dalibor</h4>
    <h4>Admin</h4>
    <h4>+38564655456</h4>
</div>
</body>
</html>