<!doctype html>
<html lang="en">
<body>
<div class="body">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header text-center">
                    <a href="{{ url('app_home') }}">
                        <img src="{{ email.image('@images/koza.jpg') }}" width="400px" height="200px" class="logo" alt="Picture">
                    </a>
                </div>
            </div>
        </div>
        <div class="content">
            <h1 class="text-center">Pošzovani {{ name }},</h1>
            <p class="block">

                Uspešno ste se promenili podatke na sajtu <strong>Kožne galenterije</strong>.
                <br><br>
                Da bi ste bili u mogućnosti da porucujete potrebno je da verifikujete vašu
                email adresu. Klikom na tekst (KLIKNI ME) ispod ovog teksta vaša email adresa ce biti verifikovana i
                bice te preusmereni na našu stranicu.<b>↓</b><br>
                <a href="{{ url('app_user_verify_email',{ 'email': emailAddress, 'expires': expires })}} ">KLIKNI ME</a>
                <br>

            <h4>Kozna galenterija</h4>
            <h4>Dalibor</h4>
            <h4>+38564655456</h4>
            </p>
        </div>
    </div>
</div>
</body>
</html>